name: Hello World

on:
    push:
        branches:
            - dev
    pull_request:
        branches:
            - dev
    workflow_dispatch:

jobs:
    hello_jobname:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: hello world step name
              run: echo "hello world"
    goodbye_jobname:
        runs-on: windows-latest
        steps:
            - name: goodbye world step name
              run: echo "bye world"